#center{
    font-size: 4em;
    color:white;
}
.sidenav {
    height: 80%;
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    left: 0;
    background-color: #333; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  .campaign{
      display:inline-block;
      border: 1px solid white;
      margin-left:250px;
      margin-top:10%;
      height: 200px;
      width: 200px;
      text-align:center;
  }
  body{
      color:white;
  }
  #add{
      text-align: right;
  }